.add-notes-wrapper {
  width: 100%;
  margin-top: 10vh;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;

    .form-title {
      font-size: 2rem;
      font-weight: 700;
      color: var(--text-color);
      text-align: center;
    }

    .back-button {
      cursor: pointer;
      height: auto;
      width: 3rem;
    }
  }



  .form-wrapper {
    .submit-button {
      margin-left: auto;
      display: flex;
    }

  }
}